{% extends 'accounts/base.html' %}
{% block title %}Edit Lead{% endblock %}
{% block header %}Edit Lead Status{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div style="display: flex; flex-direction: column; gap: 10px; max-width: 400px;">
        <label>Status</label>
        {{ form.potential_customer_status }}

        <label>Assign Agent</label>
        {{ form.assigned_agent }}

        <button type="submit" class="toggle-btn">Save</button>
    </div>
</form>
{% endblock %}
